.lbl
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color:bisque;       
}
.outerDiv
{
    background-color: tomato;    
    width:vmax;
    border-style: dotted;
}
.innerDiv
{
    background-color: black;    
    width:50%;
    border-style: dotted;
}